In [1]:
import csv, sqlite3
import pandas as pd
import prettytable

prettytable.DEFAULT = 'DEFAULT'

In [2]:
# Load sql magic module
%load_ext sql
%sql sqlite:///FinalDB.db

Use Pandas to load the data to dataframes and use these dataframes to load data on to the database FinalDB.db as required tables.

In [3]:
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

df = pd.read_csv("./ChicagoCensusData.csv")
df1 = pd.read_csv("./ChicagoPublicSchools.csv")
df2 = pd.read_csv("./ChicagoCrimeData.csv")

Establish a connection between SQL magic module and the database FinalDB.db

In [4]:
df.to_sql("Chicago_Census_data", con, if_exists='replace', index=False,method='multi')
df1.to_sql("Chicago_publicschool_data", con, if_exists='replace', index=False,method='multi', chunksize=200)
df2.to_sql("Chicago_Crime_data", con, if_exists='replace', index=False,method='multi')

533

Question 1. Find the total number of crimes recorded in the CRIME table.

In [5]:
%sql SELECT COUNT(*) FROM Chicago_Crime_data

 * sqlite:///FinalDB.db
Done.

[(533,)]

Question 2. List community area names and numbers with per capita income greater than 11000.

In [6]:
%sql SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER FROM Chicago_Census_data WHERE PER_CAPITA_INCOME > 11000

 * sqlite:///FinalDB.db
Done.

[('Rogers Park', 1.0),
 ('West Ridge', 2.0),
 ('Uptown', 3.0),
 ('Lincoln Square', 4.0),
 ('North Center', 5.0),
 ('Lake View', 6.0),
 ('Lincoln Park', 7.0),
 ('Near North Side', 8.0),
 ('Edison Park', 9.0),
 ('Norwood Park', 10.0),
 ('Jefferson Park', 11.0),
 ('Forest Glen', 12.0),
 ('North Park', 13.0),
 ('Albany Park', 14.0),
 ('Portage Park', 15.0),
 ('Irving Park', 16.0),
 ('Dunning', 17.0),
 ('Montclaire', 18.0),
 ('Belmont Cragin', 19.0),
 ('Hermosa', 20.0),
 ('Avondale', 21.0),
 ('Logan Square', 22.0),
 ('Humboldt park', 23.0),
 ('West Town', 24.0),
 ('Austin', 25.0),
 ('East Garfield Park', 27.0),
 ('Near West Side', 28.0),
 ('North Lawndale', 29.0),
 ('Lower West Side', 31.0),
 ('Loop', 32.0),
 ('Near South Side', 33.0),
 ('Armour Square', 34.0),
 ('Douglas', 35.0),
 ('Oakland', 36.0),
 ('Grand Boulevard', 38.0),
 ('Kenwood', 39.0),
 ('Washington Park', 40.0),
 ('Hyde Park', 41.0),
 ('Woodlawn', 42.0),
 ('South Shore', 43.0),
 ('Chatham', 44.0),
 ('Avalon Park', 45.0),
 ('South Chicago', 46.0),
 ('Burnside', 47.0),
 ('Calumet Heights', 48.0),
 ('Roseland', 49.0),
 ('Pullman', 50.0),
 ('South Deering', 51.0),
 ('East Side', 52.0),
 ('West Pullman', 53.0),
 ('Hegewisch', 55.0),
 ('Garfield Ridge', 56.0),
 ('Archer Heights', 57.0),
 ('Brighton Park', 58.0),
 ('McKinley Park', 59.0),
 ('Bridgeport', 60.0),
 ('New City', 61.0),
 ('West Elsdon', 62.0),
 ('Gage Park', 63.0),
 ('Clearing', 64.0),
 ('West Lawn', 65.0),
 ('Chicago Lawn', 66.0),
 ('West Englewood', 67.0),
 ('Englewood', 68.0),
 ('Greater Grand Crossing', 69.0),
 ('Ashburn', 70.0),
 ('Auburn Gresham', 71.0),
 ('Beverly', 72.0),
 ('Washington Height', 73.0),
 ('Mount Greenwood', 74.0),
 ('Morgan Park', 75.0),
 ("O'Hare", 76.0),
 ('Edgewater', 77.0),
 ('CHICAGO', None)]

Question 3. List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [7]:
%sql SELECT CASE_NUMBER FROM Chicago_Crime_Data WHERE DESCRIPTION LIKE "%minor%"

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

Question 4. List all kidnapping crimes involving a child?

In [8]:
%sql SELECT * FROM Chicago_Crime_data WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE "%CHILD%"

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

Question 5. List the kind of crimes that were recorded at schools. (No repetitions)

In [9]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM Chicago_Crime_Data WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%"

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

Question 6. List the type of schools along with the average safety score for each type.

In [10]:
%sql SELECT "Elementary, Middle, or High School" as School_type, AVG(SAFETY_SCORE) \
FROM Chicago_publicschool_data GROUP BY School_type

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

Question 7. List 5 community areas with highest % of households below poverty line

In [11]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM Chicago_Census_data ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

Question 8. Which community area is most crime prone? Display the coumminty area number only.

In [12]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS CRIME_COUNT FROM Chicago_Crime_data \
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY CRIME_COUNT DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

Question 9. Use a sub-query to find the name of the community area with highest hardship index.

In [13]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM Chicago_Census_data \
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM Chicago_Census_data)

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

Question 10. Use a sub-query to determine the Community Area Name with most number of crimes?

In [14]:
%sql SELECT COMMUNITY_AREA_NAME, Crime_count FROM (SELECT s.COMMUNITY_AREA_NAME, count(*) AS Crime_count\
    FROM Chicago_Crime_data AS c JOIN Chicago_Census_data AS s \
    ON c.COMMUNITY_AREA_NUMBER = s.COMMUNITY_AREA_NUMBER \
    GROUP BY COMMUNITY_AREA_NAME) AS SUMMARY \
    WHERE SUMMARY.Crime_count = (SELECT MAX(Crime_count) FROM (SELECT COUNT(*) AS crime_count \
    FROM Chicago_Crime_data AS c JOIN Chicago_Census_data AS s ON c.COMMUNITY_AREA_NUMBER = s.COMMUNITY_AREA_NUMBER \
    GROUP BY s.COMMUNITY_AREA_NAME) AS inner_summary)

 * sqlite:///FinalDB.db
Done.

[('Austin', 43)]